header{
  position:fixed;
  min-width: 100%;
  z-index:1000;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  padding-bottom:26px;
}
.header__container{
  display:flex;
}
.menu{
  display:flex;
  align-items:center;
  font: 500 16px/18.8px 'Work Sans', sans-serif;
  padding-top:26px;
}
.header__menu li:nth-child(2), .header__menu li:nth-child(3){
  margin-left:35px;
}
.menu a{
  color:#151C22;
}
.active a{
  color:#88bdd1;
}
.menu a:hover{
  color:#88bdd1;
}
.title{
  font:800 24px/28.15px 'Work Sans', sans-serif;
  color:#151C22;
}
.header__title {
  padding:20px 0 0 352px;
}
.search{
  display:block;
  width: 18px;
  height: 18px;
  overflow:hidden;
  background: url("../../assets/images/header/search.svg") 0 0 /contain no-repeat;
  margin:24px 35px 0 auto;
}
.basket{
  display:block;
  width: 20px;
  height: 18px;
  overflow:hidden;
  background: url("../../assets/images/header/basket.svg") 0 0 /20px 18px no-repeat;
  margin:24px 0 0 0;
}
.search:hover, .basket:hover{
  opacity:0.5;
}