<header class="header">
  <div class="container header__container">
    <ul class="menu header__menu">
      <li routerLinkActive="active" class="menu__item">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active" class="menu__item">
        <a [routerLink]="['/products', 'female']">Woman</a>
      </li>
      <li routerLinkActive="active" class="menu__item">
        <a [routerLink]="['/products', 'male']">Man</a>
      </li>
      <li class="menu__item">
        <a >New</a>
      </li>
    </ul>
    <a routerLink="/" class="title header__title">Nîmes</a>
    <a class="search" href="#"> </a>
    <a class="basket" href="#"></a>
  </div>
</header>

