<footer class="footer">
  <div class="container">
    <p class="footer__title">Nîmes</p>
    <ul class="footer__menu">
      <li class="menu__item">
        <a href="#">Shop</a>
      </li>
      <li class="menu__item">
        <a href="#">Delivery</a>
      </li>
      <li class="menu__item">
        <a href="#">Service</a>
      </li>
      <li class="menu__item">
        <a href="#">Sitemap</a>
      </li>
      <li class="menu__item">
        <a href="#">Contacts</a>
      </li>
    </ul>
    <div class="social-networks footer__social-networks">
      <a href="#">
      </a>
      <a href="#">
      </a>
      <a href="#">
      </a>
      <a href="#">
      </a>
    </div>
  </div>
</footer>

