<section class="top">
  <div class="container top__container">
    <div class="top__title">Nîmes' new FALL2022 Collection</div>
  </div>
</section>
<section class="about">
  <div class="container about__container">
    <div class="about__title">About our collection</div>
    <div class="about__desc">
      <img src="/assets/images/main/03.jpg" alt="Denim" class="about__image">
      <p>Denim is a sturdy cotton warp-faced textile in which the weft passes under two or more warp threads. This twill weaving
      produces a diagonal ribbing that distinguishes it from cotton duck. While a denim predecessor known as dungaree has been
      produced in India for hundreds of years, denim as it is recognized today was first produced in Nîmes, France.</p>
      <p>Our new denim collection is available in a range of colors, but the most common denim is indigo denim in which the warp
      thread is dyed while the weft thread is left white. As a result of the warp-faced twill weaving, one side of the textile
      is dominated by the blue warp threads and the other side is dominated by the white weft threads. Jeans fabricated from
      this cloth are thus predominantly white on the inside.</p>
      
    </div>
  </div>
</section>
<section class="products">
  <div class="container products__container">
    <div class="products__title">
      Check out the products
    </div>
  </div>
</section>
<app-product-template [products]="products" [widthImg]="243" [heightImg]="270" [gap66]="true"></app-product-template>