<section class="promo">
  <a class="close__button" (click)="close()"></a>
  <div class="title">Promo codes are available to you:</div>
  <div *ngIf="promoIsEmpty" class="promo__empty">You don't have promo codes available...</div>
  <div class="promo__item">
    <div class="promo__container">
      <div class="promo__name">First order</div>
      <div class="promo__sale">10% discount</div>
      <div class="promo__description">Applied on first order</div>
    </div>
    <button class="promo__btn">Apply</button>
  </div>
  <div class="promo__item">
    <div class="promo__container">
      <div class="promo__name">First order</div>
      <div class="promo__sale">10% discount</div>
      <div class="promo__description">Applied on first order</div>
    </div>
    <button class="promo__btn">Apply</button>
  </div>
  <div class="promo__item">
    <div class="promo__container">
      <div class="promo__name">First order</div>
      <div class="promo__sale">10% discount</div>
      <div class="promo__description">Applied on first order</div>
    </div>
    <button class="promo__btn">Apply</button>
  </div>

</section>
