<section class="product">
  <div class="product__container">
    <div class="slider">
      <div class="slider__photos">
        <img 
          *ngFor="let image of product.images; index as i" 
          class="slider__image"
          [class.big]="i==0"
          (click)="changeSize(selectedImg)"  
          src="{{image}}" 
          alt="{{product.name}}" 
          #selectedImg
        >
      </div>
    </div>
    <div class="info">
      <h1 class="info__title">{{product.category}}</h1>
      <p class="info__descr">
        {{product.name}}
      </p>
      <div class="info__color">
        <p>Color</p>
        <span *ngFor="let color of product.color;">
        <input type="radio" name="color" value="{{color}}" id="{{color}}">
        <label for="{{color}}"></label>
        </span>
      </div>
      <div class="info__size">
        <p>Size</p>
        <input type="radio" name="size" value="xs" id="xs">
        <label for="xs">XS</label>
        <input type="radio" name="size" value="s" id="s">
        <label for="s">S</label>
        <input type="radio" name="size" value="m" id="m">
        <label for="m">M</label>
        <input type="radio" name="size" value="l" id="l">
        <label for="l">L</label>
        <input type="radio" name="size" value="xl" id="xl">
        <label for="xl">XL</label>
      </div>
      <div class="info__price">&#36; 160</div>
      <a class="info__button" href="#">
        Add to cart
      </a>
    </div>
  </div>
</section>
<section class="others">
  <div class="container">
    <div class="others__text">
      <div class="others__title">You may also like</div>
      <div class="others__view-all">
        <a [routerLink]="['/products', product.sex]">View all</a>
      </div>
    </div>
    <div class="goods">
      <a *ngFor="let product of alsoLikeProducts" [routerLink]="['/products/productdetails', product.id]" class="goods__item" >
        <img class="goods__image" src="{{product.images[0]}}" alt="{{product.name}}">
        <div class="goods__name">{{product.category}}</div>
        <div class="goods__price">&#36; {{product.price}}</div>
      </a>
    </div>
  </div>
</section>
<script src="./script.js"></script>
