<section class="order">
  <a class="close__button" (click)="close()"></a>
  <p class="title">Information about order</p>
  <div class="order__info order__number">Number: № O-889303</div>
  <div class="order__info order__date">Date: 12.03.22</div>
  <div class="order__info order__summ">Total: &#36; 600</div>
  <div class="order__info order__full-name">Full name: Ovcharenko Maria</div>
  <div class="order__info order__address">Address: Moscow, Nagornay, 16k3</div>
  <p class="subtitle">Order items: </p>
  <div class="order__container">
    <div class="order__item">
      <img src="/assets/images/woman/overalls-02.jpg" alt="" class="order__image">
      <div class="order__text">
        <div class="order__name">Jacket</div>
        <div class="order__price">&#36; 200</div>
      </div>
    </div>
    <div class="order__item">
      <img src="/assets/images/woman/overalls-02.jpg" alt="" class="order__image">
      <div class="order__text">
        <div class="order__name">Jacket</div>
        <div class="order__price">&#36; 200</div>
      </div>
    </div>
    <div class="order__item">
      <img src="/assets/images/woman/overalls-02.jpg" alt="" class="order__image">
      <div class="order__text">
        <div class="order__name">Jacket</div>
        <div class="order__price">&#36; 200</div>
      </div>
    </div>
    <div class="order__item">
      <img src="/assets/images/woman/overalls-02.jpg" alt="" class="order__image">
      <div class="order__text">
        <div class="order__name">Jacket</div>
        <div class="order__price">&#36; 200</div>
      </div>
    </div>
  </div>
  
</section>
