<section class="top">
  <div class="container">
    <div class="top__title">Denim Collection Fall 2022</div>
    <div class="top__image">
      <img src="/assets/images/woman/top.jpg" alt="Image">
    </div>
  </div>
</section>
<section class="filter">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <details class="filter__main">
      <summary class="main__title filter__title arrow__main">Filter by</summary>
      <div class="settings">
        <details class="filter__price">
          <summary class="filter__title arrow__price">Price</summary>
          <label for="price">Up to $ {{price.value}}</label>
          <input formControlName="price"  (input)="price.value" value="0" type="range" min="0" max="200" #price>
        </details>
        <details class="filter__color">
          <summary class="filter__title arrow__color">Color</summary>
          <input formControlName="colors_light_blue" type="checkbox" name="color" value="light-blue" id="light-blue">
          <label for="light-blue"></label>
          <input formControlName="colors_blue" type="checkbox" name="color" value="blue" id="blue">
          <label for="blue"></label>
          <input formControlName="colors_gray" type="checkbox" name="color" value="gray" id="gray">
          <label for="gray"></label>
          <input formControlName="colors_black" type="checkbox" name="color" value="black" id="black">
          <label for="black"></label>
          <input formControlName="colors_light_gray" type="checkbox" name="color" value="light-gray" id="light-gray">
          <label for="light-gray"></label>
          <input formControlName="colors_aquamarine" type="checkbox" name="color" value="aquamarine" id="aquamarine">
          <label for="aquamarine"></label>
        </details>
        <details class="filter__collec">
          <summary class="filter__title arrow__collec">Collection</summary>
          <input formControlName="collec_casual" type="checkbox" name="collection" value="Casual" id="Casual">
          <label for="Casual">Casual</label>
          <input formControlName="collec_petite" type="checkbox" name="collection" value="Petite" id="Petite">
          <label for="Petite">Petite</label><br>
          <input formControlName="collec_classic" type="checkbox" name="collection" value="Classic" id="Classic">
          <label for="Classic">Classic</label>
          <input formControlName="collec_soulluxe" type="checkbox" name="collection" value="Soulluxe" id="Soulluxe">
          <label for="Soulluxe">Soulluxe</label>
        </details>
        <div class="filter__apply filter__title">
          <button type="submit">
            Apply (products)
          </button>
        </div>
        <div (click)="clear()" class="filter__clear filter__title">Clear all</div>
      </div>
    </details>
  </div>
  </form>
</section>
<div *ngIf="products.length==0" class="products-is-empty">No products found with these parameters...</div>
<app-product-template  [products]="products" [widthImg]="243" [heightImg]="270" [gap66]="true"></app-product-template>


