<section class="top">
  <div class="container">
    <div class="top__title">Denim Collection Fall 2019</div>
    <div class="top__image">
      <img src="/assets/images/woman/top.jpg" alt="Image">
    </div>
  </div>
</section>
<section class="filter">
  <div class="container">
    <details class="filter__main">
      <summary class="main__title filter__title arrow__main">Filter by</summary>
      <div class="settings">
        <details class="filter__price">
          <summary class="filter__title arrow__price">Price</summary>
          <label for="price">Up to $ {{currentPrice}}</label>
          <input (input)="setValue(price.value,'price')" type="range" min="0" max="200" [value]="currentPrice" #price>
        </details>
        <details class="filter__color">
          <summary class="filter__title arrow__color">Color</summary>
          <input (input)="setValue(color1.value, 'color')" type="radio" name="color" value="light-blue" id="light-blue"
            #color1>
          <label for="light-blue"></label>
          <input (input)="setValue(color2.value, 'color')" type="radio" name="color" value="blue" id="blue" #color2>
          <label for="blue"></label>
          <input (input)="setValue(color3.value, 'color')" type="radio" name="color" value="gray" id="gray" #color3>
          <label for="gray"></label>
          <input (input)="setValue(color4.value, 'color')" type="radio" name="color" value="black" id="black" #color4>
          <label for="black"></label>
          <input (input)="setValue(color5.value, 'color')" type="radio" name="color" value="light-gray" id="light-gray"
            #color5>
          <label for="light-gray"></label>
          <input (input)="setValue(color6.value, 'color')" type="radio" name="color" value="aquamarine" id="aquamarine"
            #color6>
          <label for="aquamarine"></label>
        </details>
        <details class="filter__collec">
          <summary class="filter__title arrow__collec">Collection</summary>
          <input (input)="setValue(collec1.value, 'collection')" type="radio" name="collection" value="Casual"
            id="Casual" #collec1>
          <label for="Casual">Casual</label>
          <input (input)="setValue(collec2.value, 'collection')" type="radio" name="collection" value="Petite"
            id="Petite" #collec2>
          <label for="Petite">Petite</label><br>
          <input (input)="setValue(collec3.value, 'collection')" type="radio" name="collection" value="Classic"
            id="Classic" #collec3>
          <label for="Classic">Classic</label>
          <input (input)="setValue(collec4.value, 'collection')" type="radio" name="collection" value="Soulluxe"
            id="Soulluxe" #collec4>
          <label for="Soulluxe">Soulluxe</label>
        </details>
        <div class="filter__apply filter__title">Apply (products)</div>
        <button (click)="clear()" class="filter__clear filter__title">Clear all</button>
      </div>
    </details>
  </div>
</section>
<section class="goods">
  <div class="container">
    <a *ngFor="let product of products; index as i" [routerLink]="['/products/productdetails', product.id]"
      class="goods__item">
      <img src="{{product.images[0]}}" alt="{{product.name}}">
      <div class="goods__name">{{product.category}}</div>
      <div class="goods__price">{{product.price}}$</div>
    </a>
  </div>
</section>

