.orders{
  padding-top:74px;
}
.orders .container{
  width:400px;
}
.orders .title{
  font-size: 23px;
  font-weight: 500;
  padding:30px 0 0 0;
}
.order__item{
  width: 400px;
  box-shadow: 0 0 10px -1px rgb(221 221 221);
  cursor:pointer;
  margin:30px auto;
  padding:15px;
}
.order__info{
  display:flex;
  justify-content:space-between;
  padding-bottom:10px;
}
.order__container{
  display:flex;
  opacity:0.6;
  border:1px solid #cecece;
  padding:10px;
}
.order__image{
  width: 50px;
  height: 50px;
  object-fit:cover;
}
.order__text{
  margin-left:15px;
}
.order__name{
  margin-bottom:5px;
  font-weight: 500;
}
.order__items{
  display:flex;
  gap:10px;
  overflow: hidden;
}