<section class="orders">
  <div class="container">
    <p class="title">Your orders:</p>
    <div class="order__item" (click)="onOrderClick()">
      <div class="order__info">
        <div class="order__number">№ O-987720</div>
        <div class="order__date">12.03.22</div>
      </div>
      <div class="order__items">
        <div class="order__container">
          <img src="/assets/images/woman/overalls-02.jpg" class="order__image">
          <div class="order__text">
            <div class="order__name">Jacket</div>
            <div class="order__price">&#36; 200</div>
          </div>
        </div>
        <div class="order__container">
          <img src="/assets/images/woman/overalls-02.jpg" class="order__image">
          <div class="order__text">
            <div class="order__name">Jacket</div>
            <div class="order__price">&#36; 200</div>
          </div>
        </div>
        <div class="order__container">
          <img src="/assets/images/woman/overalls-02.jpg" class="order__image">
          <div class="order__text">
            <div class="order__name">Jacket</div>
            <div class="order__price">&#36; 200</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
