<section>
  <div class="dialog-container">
    <a class="close__button" (click)="close()"></a>
    <div class="dialog-title">You can contact us in any convenient way:</div>
    <div class="contacts-info">
      <div class="item">
        <div>Hot line: </div>
        <a href="tel:+14154561010"> +1 (415) 456 10 10</a>
      </div>
      <div class="item">
        <div>Quality control: </div>
        <a href="tel:+14154561020"> +1 (415) 456 10 20</a>
      </div>
      <div class="item">
        <div>Technical assistance: </div>
        <a href="tel:+14154561020"> +1 (415) 456 10 30</a>
      </div>
      <div class="item">
        <div>E-mail: </div>
        <a href="mailto:nimes-support@gmail.com"> nimes-support@gmail.com</a>
      </div>
    </div>
  </div>
</section>
